extends ../../layouts/announce.pug 

block main 
    .card-container.my-2
        .card-content 
            .card-head 
                .card-image 
                    img(src=job.logo alt=job.tenCT)
                .card-title 
                    .tenCT #{job.tenCT}
                    p <b>THÔNG BÁO KẾT QUẢ CV</b>
                    p.time <i>Ngày gửi: #{announce.thoiGianGui}</i>
            .card-text 
                .tenUV Ứng viên: <b>#{user.hoTen}</b>
                .tenCV Tên công việc: <b>#{job.tenCV}</b>
                .ketQua(class=announce.ketQua ? '' : 'ketQua-failed') Kết quả: 
                    b #{announce.ketQua ? 'Đạt' : 'Rớt'}
                .thongBao 
                    | !{announce.thongBao}

