mixin formSearch(keyword)
    form(formSearch)
        .input-group 
            input(
                class="form-control"
                type="text"
                value=keyword  
                name="keyword"
                placeholder="search"
            )
            .input-group-append 
                button(
                    class="btn btn-success ms-1"
                    type="submit"
                ) Tìm