extends ../../layouts/login-layout.pug 
include ../../mixins/alert.pug
 
block main 
    +alert-error(5000)

    .box.d-flex         
        .box-left
        .box-right
            form(
                method="post"
                action="/user/password/forgot"
                class="item-username form-right" 
                form-login
            )
                label(for="username_right" class="title") Tài khoản 
                input(name="username_right" id="username_right" type="email" required)
                button(
                    class="button-click"
                    type="submit"
                ) NHẬN MÃ OTP
        .box-overplay.box-dangdangnhap-click
            .dangky Đăng ký 
            .dangnhap Đăng nhập

block script 
    script(src="/js/login.js")
            