extends ../../layouts/login-layout.pug 
include ../../mixins/alert.pug

block main 
    +alert-error(4000)

    .container.my-5
        .row.justify-content-center(reset-password)
            .col-6
                h1.text-center Tạo mật khẩu mới 
                form(action="/user/password/reset", method="post" style="display: flex; flex-direction: column;") 
                    div(class="form-group")
                        label(for="password") Mật khẩu: 
                        input(
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            required
                        )
                    div(class="form-group")
                        label(for="passwordConfirm") Xác nhận mật khẩu: 
                        input(
                            type="password"
                            id="passwordConfirm"
                            name="passwordConfirm"
                            class="form-control"
                            required
                        )
                    button(
                        class="btn btn-primary btn-block"
                        type="submit"
                        style="width: 50%; text-align: center; margin: auto;"
                    ) Xác nhận 