.sider
    .inner-menu 
        ul 
            li(class="active")
                a(href=`/${prefixAdmin}/dashboard/${User.congTyId}`) Tổng quan
            li 
                a(href=`/${prefixAdmin}/infoCompany/${User.congTyId}`) Thông tin công ty
            li 
                a(href=`/${prefixAdmin}/job-management/${User.congTyId}`) Quản lý việc làm
            li 
                a(href=`/${prefixAdmin}/cv-management/${User.congTyId}`) Quản lý CV
            